.position-absolute {
  position: absolute;
}

body {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: end;

  background: #5166f2;
}

.container {
  width: 220px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: end;
  perspective: 100px;

  filter: drop-shadow(rgba(0, 0, 0, 0.45) 1.95px 1.95px 2.6px);
}
.container .ticket {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 2px 7px;
  transition: all 0.3s;
  background: #e3e0e0;
  transform-origin: right bottom;
  cursor: pointer;
  width: 100%;
  background: #5166f2;
  color: #f5f5f5;
  /* padding: 10px 10px 0px 10px; */
}

.container .ticket img {
  width: 30px;
  border-radius: 50%;
  /* padding: 10px; */
  /* background-color: red; */
  /* border: 1px solid red; */
  /* filter: hue-rotate(700deg); */
}
.container .ticket .ticket-content h4,
.container .ticket .ticket-content p {
  margin: 3px 0;
  font-family: system-ui;
}
.container .ticket .ticket-content p {
  font-size: 14px;
  font-family: "Amiri";
  font-weight: bold;
}
.ticket-effect {
  background: transparent;
  transition: color 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}
.ticket-effect:hover {
  background: #f5f5f5;
  color: #5166f2;
  box-shadow: 3px 3px 23px #4d61e6, 4px 4px 23px #556bfe;

  /* border: 5px solid red; */
}
